@use '_h-breakpoints.scss' as BP;	
@use '_h-colors.scss' as C;
@use '_h-fonts.scss'  as F;

.Footer {
    margin-top: 30%;
    background-color: C.$white;;

    & img {
        width: 15%;
        height: 15%;
        margin: 8% 43%;
    }

    & ul {
        text-align: center;
        list-style: none;
        cursor: pointer;

        & li {
            font-family: F.$font-bai;
            font-weight: F.$font-weight600;
            margin-bottom: 5%;
            color: C.$dark-grayish-blue;
        }
    }

    & section.redes {
        margin-left: 25%;
        & figure {
            display: inline-block;
            margin: 5% 5%;
            margin-bottom: 10%;
            & img {
                width: 100%;
                height: 100%;
            }
        }

    }
}

@media screen and (min-width: BP.$screen-1200) {
    .Footer {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        margin-top: 0;
        background-color: C.$white;;
        margin-bottom: 0;

        & picture {
            display: inline-block;
            margin-top: 4%;
            margin-left: 10%;
            margin-bottom: 0;
        }

        & img {
            width: 50%;
            height: 50%;
            margin: 0 auto;
        }

        & ul {
            max-width: 40%;
            margin: 0 auto;
            margin-right: 40%;
            text-align: left;
            list-style: none;
            cursor: pointer;
            column-count: 3;
            gap: 0;

            & li {
                font-family: F.$font-bai;
                font-weight: F.$font-weight600;;
                margin-bottom: 5%;
                color: C.$grayish-blue;
            }
        }

        & section.redes {
            display: inline-block;
            position: relative;
            right: -50%;
            top: -115px;

            & figure {
                margin: 5% 1%;
                display: inline-block;
                margin-bottom: 0px;
            }
        }
    }
}