@use '_h-breakpoints.scss' as BP;

.Header {
    background-image: url(img/bg-header-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin-bottom: 6vh;

    & img {
        width: 30%;
        height: 30%;
        margin: 25% 35% 0px 35%;
    }

    & h1 {
        max-width: 80%;
        font-size: 111rem;
        text-align: center;
        margin: 10% auto;
        margin-bottom: 5%;

        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        color: hsl(210, 10%, 33%);
    }

    & p {
        max-width: 80%;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10%;

        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: hsl(201, 11%, 66%);
    }

    & button {
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: none;
        color: white;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        cursor: pointer;

        &.button-ios {
            background-color: hsl(171, 66%, 44%);
        }

        &.button-mac {
            background-color: hsl(233, 100%, 69%)
        }

    
        margin-bottom: 10%;
        margin-left: 10%;
    }
}

@media screen and (min-width: BP.$screen-1200) {
    .Header {
        background-image: url(img/bg-header-desktop.png);
        margin-bottom: 0;

        & img {
            width: 8%;
            height: 8%;
            margin: 8% 47% 0 47%;
        }

        & h1 {
            font-size: 2.7rem;
            margin: 5% auto;
            margin-bottom: 0;
        }

        & p {
            margin: 2% auto;
            font-size: 1.2rem;
            max-width: 45%;
        }

        & .buttons {
            & button {
                margin-top: 1.5rem;
                font-size: 1rem;
                margin-left: 1%;
                height: 50px;
                width: 13%;
            }

            & button:nth-child(1) {
                margin-left: 35%;
            }
        }
    }
}